html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.monocromatic-1 {
  background-color: #bf0000; }

.monocromatic-2 {
  background-color: #ac1313; }

.monocromatic-3 {
  background-color: #992626; }

.monocromatic-4 {
  background-color: #863939; }

.monocromatic-5 {
  background-color: #734c4c; }

.analogous-1 {
  background-color: #bf0000; }

.analogous-2 {
  background-color: #bf0040; }

.analogous-3 {
  background-color: #bf007f; }

.analogous-4 {
  background-color: #590000; }

.analogous-5 {
  background-color: #59003b; }

.complementary-1 {
  background-color: #bf0000; }

.complementary-2 {
  background-color: #bf0020; }

.complementary-3 {
  background-color: #00bfbf; }

.complementary-4 {
  background-color: #00bf9f; }

.complementary-5 {
  background-color: #590000; }

.triad-1 {
  background-color: #bf0000; }

.triad-2 {
  background-color: #00bf00; }

.triad-3 {
  background-color: #0000bf; }

.triad-4 {
  background-color: #590000; }

.triad-5 {
  background-color: #000059; }

.s_complementary-1 {
  background-color: #bf0000; }

.s_complementary-2 {
  background-color: #00bf60; }

.s_complementary-3 {
  background-color: #005fbf; }

.s_complementary-4 {
  background-color: #002c59; }

.s_complementary-5 {
  background-color: #ff2626; }

.d_complementary-1 {
  background-color: #bf0000; }

.d_complementary-2 {
  background-color: #bfbf00; }

.d_complementary-3 {
  background-color: #00bf00; }

.d_complementary-4 {
  background-color: #bf00bf; }

.d_complementary-5 {
  background-color: #0000bf; }

div {
  width: 100px;
  height: 100px;
  display: inline-block; }
