<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/css/style.css">
		<title>Home</title>
  	</head>
	<body>
		<h1>Monocromatic</h1>
		<div class="monocromatic-1"></div>
		<div class="monocromatic-2"></div>
		<div class="monocromatic-3"></div>
		<div class="monocromatic-4"></div>
		<div class="monocromatic-5"></div>
		
		<h1>Analogous</h1>
		<div class="analogous-1"></div>	
		<div class="analogous-2"></div>
		<div class="analogous-3"></div>

		<h1>Complementary</h1>
		<div class="complementary-1"></div>
		<div class="complementary-2"></div>	
  	</body>
</html>
